streamlit==1.35.0
requests==2.31.0
folium==0.17.0
streamlit_folium==0.22.0
geopy==2.4.1
geocoder==1.38.1
Pillow==10.2.0
pandas==2.2.0
matplotlib==3.8.3
smtplib==3.0  # smtplib is part of the Python standard library, so no need to install separately
email==6.0.0  # same here, part of standard library
